<div class="container">
  <img
  class="mx-auto d-block img-fluid logo"
  src="../../../assets/img/SuperBattleCode.png" />
  <p class="text-center">Escolha sua linguagem e lute contra todos os bugs
    até chegar ao topo!</p>
  <div>
    <button class="btn btn-outline-success btn-start btn-block" routerLink="heroSelection">START</button>
  </div>
</div>
