<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
    <div class="container-fluid me-auto">
      <div class="d-flex">
        <a class="me-2" routerLink="../ranking">
          <img class="mx-auto d-block" src="../../assets/img/Ranking.png">
        </a>
      </div>
      <div class="d-flex">
        <a class="me-2" routerLink="../home">
          <img class="mx-auto d-block" src="../../assets/img/SuperBattleCode-min.png">
        </a>
      </div>
      <div class="d-flex">
        <a class="me-2" routerLink="../regras">
          <img class="mx-auto d-block" src="../../assets/img/Regras-Active.png">
        </a>
      </div>
    </div>
  </nav>
</header>

<div class="container col-6 mt-3 border rounded mx-auto shadow p-4 mb-4 bg-white how-play">
  <p>Olá Dev, bem vindo ao <strong>Super Battle Code</strong>!</p>
  <p>
    Os bugs estão cada vez mais hostis e a cada dia o número deles só aumenta
    e por esse motivo você foi convocado a fazer parte do nosso time.
  </p>
  <p>
    Nosso objetivo é exterminar todos os bugs e para isso contamos com
    poderos aliados, as Linguagens de Programações, cada membro do esquadrão Code
    luta ao lado de uma linguagem.
  </p>

  <h4>Como Lutar:</h4>
  <p>
    As batalhas contra os Bugs são em turnos, ou seja, você escolhe uma ação e só poderá
    escolher um próxima ação após o inimigo realizar a ação dele.
  </p>
  <p>
    Existem 4 (quatro) ações básicas que você pode escolher na luta contra os Bugs,
    sendo elas:
    <br>
    <kbd>Ataque</kbd> - Realiza um ataque básico ao oponente causando dano.
    <br>
    <kbd>Especial</kbd> - Realiza um poderoso ataque ao oponente causando um grande dano
    e tendo a chance de causar debilitação. As habilidade especiais possuem um cooldown
    e não podem ser usadas a todo momento.
    <br>
    <kbd>Cura</kbd> - Recupera um pouco de seus pontos de vida e pode ser usado em todos os
    rounds.
    <br>
    <kbd>Desistir</kbd> - Disistir não é uma opção! O esquadrão Code não desiste de uma luta,
    mas se sentir que o bug é forte demais você pode usar esse opção e dizer que é uma fuga
    estratégica.
  </p>

  <h4>Vitória</h4>
  <p>
    Para ganhar basta fazer com que a vida do Bug chegue a 0 (zero).
    Ao final será exibido a sua pontuação e um campo de texto para você registrar seu nome
    no Ranking!
  </p>

  <h4>Derrota</h4>
  <p>
    Caso sua vida chegue a zero você perderá, mas não se preocupe porque você poderá tentar
    derrotá-lo novamente ou então voltar para o Menu Principal.
  </p>
</div>
