<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
    <div class="container-fluid me-auto">
      <div class="d-flex">
        <a class="me-2" routerLink="../ranking">
          <img class="mx-auto d-block" src="../../assets/img/Ranking.png">
        </a>
      </div>
      <div class="d-flex">
        <a class="me-2" routerLink="../regras">
          <img class="mx-auto d-block" src="../../assets/img/Regras.png">
        </a>
      </div>
    </div>
  </nav>
</header>

<div>
  <router-outlet></router-outlet>
</div>

