<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
    <div class="container-fluid me-auto">
      <div class="d-flex">
        <a class="me-2" routerLink="../ranking">
          <img class="mx-auto d-block" src="../../assets/img/Ranking-Active.png">
        </a>
      </div>
      <div class="d-flex">
        <a class="me-2" routerLink="../home">
          <img class="mx-auto d-block" src="../../assets/img/SuperBattleCode-min.png">
        </a>
      </div>
      <div class="d-flex">
        <a class="me-2" routerLink="../regras">
          <img class="mx-auto d-block" src="../../assets/img/Regras.png">
        </a>
      </div>
    </div>
  </nav>
</header>

<div class="container col-6 mt-3 rank shadow">
  <table class="table table-rank table-hover text-center">
    <thead>
      <tr>
        <th>Nick</th>
        <th>Pontuação</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody *ngFor="let player of listPlayers">
      <tr>
        <td>{{player.player}}</td>
        <td>{{player.score}}</td>
        <td>{{player.data | date:'short'}}</td>
      </tr>
    </tbody>
  </table>
</div>
