<div class="container-sm shadow p-4 mb-4 ">
  <h2 class="text-center">ESCOLHA SEU HEROI!</h2>
  <div class="row d-flex justify-content-center">
    <div *ngFor="let hero of listHero" class="col-sm list">
      <div *ngIf="hero.hero">
        <h3 class="text-center">{{hero.name}}</h3>
        <img class="mx-auto d-block" [src]="hero.img.card">
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary btn-block " (click)="startGame(hero)">SELECIONAR</button>
        </div>
      </div>
    </div>
  </div>
</div>
