<div #screen>
  <nav class="navbar navbar-expand-sm bg-dark">
    <div class="container d-flex justify-content-center">
      <a class="navbar-brand" (click)="surrenderGame()">
        <img class="mx-auto d-block" src="../../assets/img/SuperBattleCode-min.png">
      </a>
    </div>
  </nav>

  <div class="container-sm">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-4">
        <img class="mx-auto d-block" [src]="player.img.avatar">
        <h5 class="text-center">{{player.name}}</h5>
        <div class="progress">
          <div class="progress-bar bg-success bar" #progressP>
            {{player.life}}
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <img class="mx-auto d-block" src="../../assets/img/Versus.png">
      </div>

      <div class="col-sm-4">
        <img class="mx-auto d-block" [src]="enemy.img.avatar">
        <h5 class="text-center">{{enemy.name}}</h5>
        <div class="progress">
          <div class="progress-bar bg-success bar" #progressE>
            {{enemy.life}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="comandos">
        <p class="text-center">COMANDOS</p>
        <div class="btn-group d-flex justify-content-center">
          <button class="btn btn-primary" [disabled]="enemy.turn || surrender"
          (click)="playerTurn('attack')">
            Atacar
          </button>
          <button class="btn especial btn-warning" (click)="playerTurn('super')"
          [disabled]="(enemy.turn || player.damageSuper.myColldown || surrender)">
            Especial
          </button>
          <button class="btn btn-success" [disabled]="enemy.turn || surrender"
          (click)="playerTurn('heal')">
            Cura
          </button>
          <button class="btn btn-danger" [disabled]="surrender" (click)="surrenderGame()">Desistir</button>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="logBattle border" #logBDvi>
        <h5 class="text-center">LOG</h5>
        <div *ngFor="let log of logBattle">
          <div [class]="log.class">
            <img [src]="log.img">{{log.msg}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="rounded modal-battle" *ngIf="player.winner">
    <h3 class="text-center">VITÓRIA</h3>
    <p class="text-center">Você conseguiu derrotar o {{enemy.name}} com sucesso!</p>
    <h4 class="text-center"><strong>PONTUAÇÃO</strong></h4>
    <p class="text-center">{{player.score}}</p>
    <form class="form">
      <div class="form-group mb-3">
        <input type="text" class="form-control" placeholder="Informe seu Nick para o Ranking"
        name="nick" maxlength="12" [(ngModel)]="nick" #inputNick="ngModel" required/>
      </div>
      <div class="d-grid">
        <button type="button" class="btn btn-primary g-block" [disabled]="inputNick.invalid" (click)="submitScore()">Enviar</button>
      </div>
    </form>
  </div>

  <div class="rounded modal-battle" *ngIf="enemy.winner">
    <h3 class="text-center">DERROTA</h3>
    <p class="text-center">Infelizmente o {{enemy.name}} foi mais forte que você!</p>


    <div class="d-flex btn-group justify-content-center">
      <button type="button" class="btn btn-outline-primary g-block" (click)="resetGame()">Tentar Novamente</button>
      <button type="button" class="btn btn-outline-danger g-block" routerLink="../home">Desistir</button>
    </div>
  </div>

  <div class="rounded modal-battle" *ngIf="surrender">
    <h3 class="text-center">TEM CERTEZA QUE DESEJA DESISTIR?</h3>
    <div class="d-flex btn-group justify-content-center">
      <button type="button" class="btn btn-outline-primary g-block" routerLink="../home">SIM</button>
      <button type="button" class="btn btn-outline-danger g-block" (click)="surrenderGame()">CANCELAR</button>
    </div>
  </div>
</div>
