@keyframes modal-battle {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.container-sm{
  margin-top: 5%;
}

.navbar-logo{
  padding-left: 25%;
  padding-right: 25%;
}

.progress{
  margin-left: 25%;
  margin-right: 25%;
}

.comandos{
  padding: 5px;
  justify-content: center;
  margin-bottom: 3px;
}

.especial{
  color: #FFFFFF;
}

.logBattle{
  max-height: 160px;
  max-width: 600px;
  overflow-y: auto;
  padding-top: 5px;
  margin-bottom: 15px;
}

.log{
  font-size: 14px;
  padding: 5px;
  margin-bottom: 5px;
}

.alert-stun{
  background: #ddcffc;
}

.overlay{
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 0;
}

.modal-battle{
  animation: modal-battle 0.5s linear;
  margin-top: 10%;
  z-index: 1;
  background: #FFFFFF;
  padding: 10px;
}

.bar{
  width:100%;
}

.progress{
  height:20px;
}
